* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: radial-gradient(circle, #1f3756 0%, #141539 100%);
  justify-items: center;
}
header {
  margin-top: 20px;
  width: 620px;
  height: 110px;
  border: 3px solid #9d9d9d;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
h1 {
  font-size: 33px;
  font-weight: 800;
  color: #fff;
}
.score-box {
  height: 100px;
  width: 110px;
  background-color: #fff;
  border-radius: 5px;
  justify-items: center;
  align-content: center;
}
#score {
  color: #443994;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
#score-number {
  font-size: 40px;
  font-weight: 600;
  color: #9d9d9d;
}
/*MAIN*/
main {
  margin-top: 50px;
  justify-items: center;
  align-content: center;
  position: relative;
  width: 450px;
  height: 420px;
}
.container {
  justify-items: center;
}
#trougao {
  width: 350px;
  height: 300px;
}
#rock {
  background-color: #fff;
  width: 130px;
  height: 130px;
  border: 15px solid #ff0000;
  border-radius: 50%;
  position: absolute;
  bottom: 35px;
  left: 155px;
  box-shadow: 0px 7px 0px 0px rgba(255, 0, 0, 0.578);
  cursor: pointer;
}
#rock:hover {
  width: 140px;
  height: 140px;
  bottom: 30px;
  left: 150px;
}
#paper {
  border: 15px solid #002aff;
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 7px 0px 0px #002aff98;
  cursor: pointer;
}
#paper:hover {
  width: 140px;
  height: 140px;
  left: -5px;
  top: -5px;
}
#scissors {
  border: 15px solid #ffc800;
  border-radius: 50%;
  background-color: #fff;
  width: 130px;
  height: 130px;
  position: absolute;
  right: 0px;
  top: 0px;
  box-shadow: 0px 7px 0px 0px #ffc800c3;
  cursor: pointer;
}
#scissors:hover {
  width: 140px;
  height: 140px;
  right: -5px;
  top: -5px;
}
.btn-rules {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #443994;
  color: #443994;
  background-color: #1f3756;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.2s;
}
.btn-rules:hover {
  background-color: #ffffffbb;
  transition: 0.2s;
}
.mini-box {
  margin-top: 50px;
  position: relative;
  width: 650px;
  height: 420px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
h3 {
  color: white;
  margin-left: 20px;
  font-size: 15px;
}
.paper-1 {
  border: 20px solid #002aff;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px #002aff98;
}
.img-paper {
  width: 70px;
}
.scissors-1 {
  border: 20px solid #ffc800;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px #ffc800c3;
}
.img-scissors {
  width: 70px;
}
.rock-1 {
  border: 20px solid #ff0000;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px rgba(255, 0, 0, 0.578);
}
.img-rock {
  width: 70px;
}
.paper-2 {
  border: 20px solid #002aff;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px #002aff98;
}
.img-paper-2 {
  width: 70px;
}
.scissors-2 {
  border: 20px solid #ffc800;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px #ffc800c3;
}
.img-scissors-2 {
  width: 70px;
}
.rock-2 {
  border: 20px solid #ff0000;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 20%;
  box-shadow: 0px 7px 0px 0px rgba(255, 0, 0, 0.578);
}
.img-rock-2 {
  width: 70px;
}
