* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: radial-gradient(circle, #1f3756 0%, #141539 100%);
  justify-items: center;
}
header {
  margin-top: 20px;
  width: 620px;
  height: 110px;
  border: 3px solid #9d9d9d;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
h1 {
  font-size: 33px;
  font-weight: 800;
  color: #fff;
}
.score-box {
  height: 100px;
  width: 110px;
  background-color: #fff;
  border-radius: 5px;
  justify-items: center;
  align-content: center;
}
#score {
  color: #443994;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
#score-number {
  font-size: 40px;
  font-weight: 600;
  color: #9d9d9d;
}
/*MAIN*/
main {
  margin-top: 150px;
  justify-items: center;
  position: relative;
  width: 350px;
  height: 320px;
}
.container {
  justify-items: center;
}
#trougao {
  width: 350px;
  height: 300px;
}
#rock {
  background-color: #fff;
  width: 130px;
  height: 130px;
  border: 15px solid #ff0000;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 100px;
  box-shadow: 0px 7px 0px 0px rgba(255, 0, 0, 0.578);
  cursor: pointer;
}
#rock:hover {
  width: 137px;
  height: 137px;
}
#paper {
  border: 15px solid #002aff;
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: -35px;
  box-shadow: 0px 7px 0px 0px #002aff98;
  cursor: pointer;
}
#paper:hover {
  width: 137px;
  height: 137px;
}
#scissors {
  border: 15px solid #ffc800;
  border-radius: 50%;
  background-color: #fff;
  width: 130px;
  height: 130px;
  position: absolute;
  right: -25px;
  top: -35px;
  box-shadow: 0px 7px 0px 0px #ffc800c3;
  cursor: pointer;
}
#scissors:hover {
  width: 137px;
  height: 137px;
}
